* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

body {

    font-family: 'Roboto', sans-serif;
}

img {

    width: 100%;
    object-fit: cover;
    height: 100%;
    object-position: 0 30%;
}

#ms_maincont {
    display: flex;
    align-items: center;
    justify-content: center;
    height:700px;
    position: relative;
}

.img {
    
    width: 45%;
    height: 450px;
    display: none;
    position: relative;
}

.active {

    display: block;

}

#top {
    position: absolute;
    top: 150px;
    right: 496px;
    z-index: 10;
}


.title {

    position: absolute;
    bottom: 104px;
    right: 44px;
    color: white;
    text-align: end;
    font-size: 43px;
  
}

.subTitle {

    position: absolute;
    bottom: 25px;
    right: 44px;
    color: white;
    text-align: end;
    width: 772px;
    font-size: 18px;
  
}

.thumb {
    width: 10%;
    height: 450px;

}
.imgSmall {
    height: 20%;
}


#bot {
    position: absolute;
    bottom: 150px;
    right: 496px;
    z-index: 10;

}

.hidden {
    display: none;
}
